In [4]:
import os
import pandas as pd
import numpy as np
import boto3
import awswrangler as wr

bucket = 'xxxxxx'
object_key = 'src/balances'

boto3.setup_default_session(aws_access_key_id = 'xxxxxx',
                            aws_secret_access_key = 'xxxxxx')


# Generate mock data
num_rows = 10000000 
data = {
    'AS_OF_DATE': np.random.choice(pd.date_range(start='2023-01-01', end='2023-08-31'), size=num_rows),
    'COMPANY_CODE': np.random.choice(['Company_A', 'Company_B', 'Company_C', 'Company_D'], size=num_rows),
    'ACCOUNT_NAME': np.random.choice(['Assets', 'Liabilities', 'Cogs', 'Inter Company'], size=num_rows),
    'ACCOUNT_NUMBER': np.random.randint(100000, 999999, size=num_rows).astype(str),
    'BALANCE': np.random.uniform(low=0, high=500000, size=num_rows).astype(np.float32),
    'CURRENCY_CODE': np.random.choice(['USD', 'EUR', 'GBP'], size=num_rows),
}

# Create the dataframe
df = pd.DataFrame(data).sort_values(by=['COMPANY_CODE', 'AS_OF_DATE'])

print(df.shape)
df.head(10)

# Write DF to S3 Bucket 
wr.s3.to_parquet(df=df, path=f's3://{bucket}/{object_key}', compression = 'snappy')

(10000000, 6)

,AS_OF_DATE,COMPANY_CODE,ACCOUNT_NAME,ACCOUNT_NUMBER,BALANCE,CURRENCY_CODE
242,2023-01-01,Company_A,Assets,207947,107658.304688,EUR
610,2023-01-01,Company_A,Inter Company,839068,154511.640625,EUR
2885,2023-01-01,Company_A,Liabilities,349406,269102.968750,USD
2926,2023-01-01,Company_A,Inter Company,734112,162422.953125,EUR
3717,2023-01-01,Company_A,Cogs,513758,359723.218750,EUR
3938,2023-01-01,Company_A,Inter Company,336460,61200.789062,EUR
4111,2023-01-01,Company_A,Inter Company,874852,399881.812500,EUR
4502,2023-01-01,Company_A,Liabilities,522591,334427.656250,GBP
5000,2023-01-01,Company_A,Cogs,161375,443307.750000,GBP
5456,2023-01-01,Company_A,Assets,696936,190330.546875,EUR